NODE_ENV=local

CLIENT_URL=your_client_url

APP_HOST=localhost
APP_PORT=3005

JWT_ACCESS_TOKEN_SECRET=your_jwt_secret
JWT_ACCESS_TOKEN_TTL_IN_MINUTES=60
JWT_ACCESS_TOKEN_HEADER=x-token
JWT_LOGIN_USERNAME_FIELD=uid
JWT_LOGIN_PASSWORD_FIELD=password

ENABLE_LOG=true

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=typescript-clean-architecture
DB_PASSWORD=password
DB_NAME=local_db
DB_LOG_ENABLE=true

R2_ACCESS_KEY_ID=your_cloudflare_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_cloudflare_r2_access_key
R2_PROFILE_BUCKET_NAME=profile-pictures
R2_CONTENT_BUCKET_NAME=language-content
R2_PUBLIC_DOMAIN=pub-1b98fe85f8114528aab51998b85d513b.r2.dev

CLOUDFLARE_ACCOUNT_ID=your_cloudflare_account_id
CLOUDFLARE_API_TOKEN=your_clouflare_api_token

REDIS_HOST=localhost
REDIS_PORT=6379

THROTTLER_LIMIT=60
THROTTLER_TTL_IN_MINUTES=60

MAIL_HOST=smtppro.zoho.com
MAIL_PORT=465
MAIL_USER=your_mail_username
MAIL_PASS=your_mail_password
MAIL_FROM=mail_sender_email

HEALTH_HTTP_URL=https://${API_HOST}:${API_PORT}/api-docs
HEALTH_STORAGE_THRESHOLD_IN_PERCENT=0.9
HEALTH_HEAP_MEMORY_THRESHOLD_IN_MB=157286400
HEALTH_RSS_MEMORY_THRESHOLD_IN_MB=314572800
HEALTH_SHUTDOWN_TIMEOUT_IN_MS=1000

DATABASE_URL="postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"